body{
	padding: 0;
	margin: 0;
	font-family: "Lato",sans-serif;
}

/* --------------header-------------- */

/* -----------top-bar---------- */
.header .top-bar {
	width: 100%;
	display: flex;
	background-color: #446084;
	min-height: 30px;
	height: 30px;
	line-height: 30px;
	position: relative;
}


/* --------------top-bar-left-------------- */
.top-bar .top-bar-left {
	flex-grow: 5;
	position: absolute;
	left: 12%;
}
.top-bar .top-bar-left ul{
	display: flex;
	list-style: none;
	padding: 0px;
	margin: 0px;
}

/* social */
.top-bar .top-bar-left ul li .top-bar-social {
	margin-right: 10px;
}
.top-bar .top-bar-left ul li .top-bar-social ul li {
	padding : 0px 3px;
}
.top-bar .top-bar-left ul li .top-bar-social ul li a{
	color: #fff;
	font-size: 12px;
}

/* /social */

/* contact */
.top-bar .top-bar-left ul li .top-bar-contact ul li {
	padding: 0px 10px;
}

.top-bar .top-bar-left ul li .top-bar-contact ul .line{
	width: 1px;
	height: 16px;
	background-color: #fff;
	padding: 0px;
	margin-top: 7px;
}
.top-bar .top-bar-left ul li .top-bar-contact ul li a{
	color: rgba(255,255,255,.8);
	text-decoration: none;
	font-size: 13px;
}

/* /contact */
/* --------------/top-bar-left-------------- */

.header .top-bar .top-bar-space {
	flex-grow: 2;
}
/* --------------top-bar-right-------------- */
.top-bar .top-bar-right {
	flex-grow: 3;
	position: absolute;
	right: 12%;
}
.top-bar .top-bar-right ul {
	display: flex;
	list-style: none;
	padding: 0px;
	margin: 0px;
}

.top-bar .top-bar-right ul li {
	padding-right: 10px;
}

.top-bar .top-bar-right ul li a {
	text-decoration: none;
	color: rgba(255,255,255,.8);
	font-size: 14px;
}

.top-bar .top-bar-mobile {
	display: none;
	width: 100%;
	text-align: center;
	z-index: 0;
}
.top-bar .top-bar-mobile h2	 {
	color: #fff;
	font-size: 15px;
	text-transform: uppercase;
	padding: 0px;
	margin: 0px;
	height: 30px;
	line-height: 30px;
}
/* --------------/header-right------------- */

/* ---------/top-bar----------------------- */

/* ----------logo------------------------- */

.header .logo {
	display: flex;
	justify-content: center;
	width: 100%;
	margin-bottom: 10px;
}

.header .logo .img-logo img{
	width: 200px;
	height: auto;
	margin-right: 50px;
}

.header .logo h2 {
	font-size: 1.6em;
	line-height: 1.3;
	color: #555;
	margin-top: 30px;
	padding: 0px;
}

.header .logo .btn-mobile {
	display: none;
	font-size: 35px;
	height: 90px;
	line-height: 90px;
	margin-left: 20px;
	margin-top: 10px;
	cursor: pointer;
	z-index: 1;
}


.header .logo .shadow {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background-color: black;
	opacity: 0.5;
	z-index: 1;
}
.header .logo .menu-mobile {
	transform: translateX(-100%);
	transition: transform linear 0.2s;
	z-index: 2;
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	background-color: #F2F2F2;
	
}
.header .logo .menu-mobile ul {
	list-style: none;
	display: flex;
	flex-direction: column-reverse;
	padding: 0px;
	overflow-y: auto;
}
.header .logo .menu-mobile ul li {
	padding : 15px 10px;
	display: flex;
}
.header .logo .menu-mobile ul li:not(:last-child) {
	border-top: 0.5px solid #D8D8D8;
	border-bottom: 0.5px solid #D8D8D8;
}
.header .logo .menu-mobile ul li a {
	text-decoration: none;
	color: #6E6E6E;
	font-size: 12px;
	font-weight: 600;
	font-family: "Lato", sans-serif;
	text-transform: uppercase;
	letter-spacing: .02em;
	width: 100%;
}


.header .logo .menu-mobile ul li button {
	border: 0px;
	color: #A4A4A4;
	font-size: 15px;
}
.header .logo .menu-mobile ul li button i {
	font-size: 15px;
}
/* ----------/logo------------------------- */

/* ----------menu----------------------- */
.header .menu-primary {
	background-color: #f1f1f1;
	opacity: 0.9;

}
.header .menu-primary ul {
	list-style: none;
	display: flex;
	justify-content: center;
	padding: 8px 0px;
	margin: 0px;
}
.header .menu-primary ul li {
	padding : 5px 10px;
}
.header .menu-primary ul li a{
	text-decoration: none;
	color: #424242;
	font-size: 14px;
	font-weight: 500;
	font-family: "Lato", sans-serif;
	text-transform: uppercase;
	letter-spacing: .02em;

}

.header .menu-primary ul li a i {
	color: #999;
	padding: 0px 4px;
	font-size: 13px;
}
/* ----------/menu----------------------- */

/* ------------------/header------------------ */
/* ---------------------- section ------------------ */


/* main */
.main .title {
	display: flex;
	justify-content: center;
	padding: 25px 0px;
}
.main .title .line {
	width: 30%;
	height: 1px;
	background: #D8D8D8;
	margin-top: 15px;
}
.main .title  i {
	font-size: 25px;padding: 3px 10px;
	color: #848484;
}

.main .title h4 {
	padding : 0px 10px 0px 0px;
	margin: 0px;
}
.main .products {
	display: flex;
	flex-wrap: wrap;
}
.main .products .product-item {
	width: 20%;
	padding: 0px 10px;

}

.main .products .product-item p{
	color: #333;
}
.main .products .product-item .img {
	position: relative;
	cursor: pointer;
}

.main .products .product-item .img .view {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: #446084;
	overflow: hidden;
	width: 100%;
	height: 0;
	transition: .3s ease;
	text-align: center;
}

.main .products .product-item .img:hover > .view {
	height: 15%;
}

.main .products .product-item .img .view a{
	color: #fff;
	text-decoration: none;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: 14px;
}

.main .products .product-item .img img {
	width: 100%;
}

/* ----------slider-products ------------- */
.main .slider-products .item p {
	color: #333;
}
.main .slider-products .slider-img {
	position: relative;
	cursor: pointer;
}
.main .slider-products .slider-img .slider-view{
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: #446084;
	overflow: hidden;
	width: 100%;
	height: 0;
	transition: .3s ease;
	text-align: center;	
}

.main .slider-products .slider-img:hover > .slider-view {
	height: 15%;
}
.main .slider-products .slider-img .slider-view a{
	color: #fff;
	text-decoration: none;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: 14px;
}
/* ----------/slider-products------------- */

/* -------------- /main ------------- */

/* --------------- contact -------------- */
.section .contact {
	background-color: #446084;
	text-align: center;
	padding: 15px 0px;
}

.section .contact h5,p,span {
	color: #fff;
}
.section .contact h5 {
	padding: 15px 0px;
	font-size: 30px;
}

.section .contact p{
	font-size: 16px;
}

.section .contact span {
	border: 1px solid #fff;
	padding: 13px 13px;
}
.section .contact span i{
	padding: 20px 0px;
	margin-right: 5px;
}

/* ---------------/contact -------------- */

/* ---------------sense------------------ */
.sense .sense-title {
	display: flex;
	justify-content: center;
	padding: 25px 0px;
}
.sense .sense-title .line {
	width: 30%;
	height: 1px;
	background: #D8D8D8;
	margin-top: 15px;
}
.sense .sense-title  i {
	font-size: 25px;padding: 3px 10px;
	color: #848484;
}

.sense .sense-title h4 {
	padding : 0px 10px 0px 0px;
	margin: 0px;
}

.sense .sense-slider .sense-img img {
	width: 100%;
	height: 180px;
}

.sense .sense-slider h5 {
	font-size: 16px;
	font-weight: 500;
	margin: 0px;
	padding: 5px 0px;
}

.sense .sense-slider .item {
	text-align: center;
}
.sense .sense-slider a {
	text-decoration: none;
	font-size: 15px;
	color: #333;
}
/* ---------------/sense------------------ */

/* ---------------service --------------- */
.service h2 {
	text-align: center;
	color: #555;
	font-size: 32px;
	padding: 15px 0px;
}

.service .list-service {
	display: flex;
	text-align: center;
	margin-top: 35px;
	flex-wrap: wrap;
}

.service .list-service .item-service {
	width: 33.33%;
	padding: 0px 10px;
}
.service .list-service .item-service i{
	font-size: 40px;
	color: #6E6E6E;
}
.service .list-service .item-service h4 {
	font-size: 23px;
	color: #585858;
	padding: 15px 0px;
}

.service .list-service .item-service p {
	color: #6E6E6E;
	font-size: 15px;
}
/* ---------------/servie---------------- */

/* --------------- Question --------------- */
.question{
	width: 100%;
	margin: 0 auto;
	margin-top: 25px;
	margin-bottom: 20px;
}
.question h4{
	color: #555;
	font-weight: 600;
	font-size: 28px;
	font-family: Courier New
	Courier;
	padding-bottom: 20px;
}
.question #boder{
	border-top: 1px solid #D8D8D8;
	border-bottom: 1px solid #D8D8D8;
	padding-bottom: 10px;
}
.question #boder:last-child{
	border-bottom: 0px;
}
.question .question-title {
	display: flex;
	cursor: pointer;
	padding: 0px 0px;
}
.question .click3{
	border-bottom: 0px;
}
.question .question-title  h5{
	color: #848484;
	font-size: 17px;
	margin-left: 15px;
	margin-top:16px;

}
.question .question-title  svg{
	width: 30px;
	height: 45px;
	margin-top: 2px;
	color: #848484;
}
.question p{
	color: #848484;
	font-size: 15px;
	margin-left: 40px;
	line-height: 30px;
	padding: 10px 0px;
	display: none;
}


/* --------------- /Question --------------- */
/* ---------------------- /section ----------------- */

/* footer */
.footer{
	background: #555;
}
.footer ul{
	display: flex;
	flex-wrap: wrap;
	list-style: none;
	justify-content: center;
	margin: 0 auto;
	padding: 0px;
}
.footer ul li{
	padding: 40px 20px;
	width: 33.33%;
}
.footer ul li h4{
	color: #F2F2F2;
	font-size: 20px;
	font-weight: normal;
}
.footer ul li h5{
	color: #F2F2F2;
	font-size: 17px;
	font-weight: normal;
	line-height: 25px;
}
.footer ul li p {
	color: #F2F2F2;
	font-size: 15px;
	font-weight: 300;
}
.footer ul li span{
	color: #F2F2F2;
	font-size: 17px;
	font-weight: 500;
}
.footer ul li .topic{
	display: flex;
	flex-wrap: wrap;
}
.footer ul li .line-footer{
	width: 40px;
	height: 3px;
	background-color: #fff;
	margin-left: 5px;
	margin-top: -10px;
	margin-bottom: 20px;
}
.footer ul li .topic a{
	margin: 5px;
	color: #F2F2F2;
	padding: 6px;
	border: 1px solid #F2F2F2;
	text-decoration: none;
}
.footer ul li .topic a:hover{
	color: #555;
	background-color: #fff;
}
/* /footer */
/* ---------responsive------------ */

@media only screen and (max-width: 63.9375em) and (min-width: 46.25em) {
	.header .top-bar .top-bar-left,.top-bar-right {
		display: none;
	}
	.top-bar .top-bar-mobile {
		display: block;
	}

	.header .logo h2 {
		display: none;
	}

	.header .logo {
		padding: 0px;
	}
	.header .logo .btn-mobile {
		display: block;
	}
	.header .logo .img-logo {
		padding : 0px;
		margin: 0 auto;
	}

	.header .logo .img-logo a img {
		margin: 0px;
	}
	.header .menu-primary {
		display: none;
	}
	.header .logo .menu-mobile {
		width: 30%;
	}

	.main .products .product-item {
		width: 33% !important;
	}

	.main .title .line {
		width: 20%;
	}

	.sense .sense-title .line {
		width: 20%;
	}
	.service {
		max-width: 100% !important;
	}

	.footer ul {
		max-width: 100% !important;
	}


}

@media only screen and (max-width:  46.1875em) {
	.header .top-bar .top-bar-left,.top-bar-right {
		display: none;
	}
	.top-bar .top-bar-mobile {
		display: block;
	}

	.header .logo h2 {
		display: none;
	}

	.header .logo {
		padding: 0px;
	}
	.header .logo .btn-mobile {
		display: block;
	}
	.header .logo .img-logo {
		padding : 0px;
		margin: 0 auto;
	}

	.header .logo .img-logo a img {
		margin: 0px;
	}
	.header .menu-primary {
		display: none;
	}	
	.header .logo .menu-mobile {
		width: 60%;
	}

	.main .products .product-item {
		width: 50% !important;
	}
	.main .title .line {
		width: 15%;
	}

	.sense .sense-title .line {
		width: 15%;
	}	
	.main .title h4 {
		font-size: 18px;
	}
	.main .products .product-item .img .view a {
		font-size:13px;
		width: 100%;
	}

	.service .list-service .item-service {
		width: 100%;
		padding: 0px 40px;
	}
	.footer ul {
		max-width: 100% !important;
	}
	.footer ul li {
		width: 100%;
	}
}
/* ---------/responsive-------------- */

